.projects {
	text-align: center;
	overflow: hidden;

	min-height: fit-content;
	padding-bottom: 10rem;
}

.projects a {
	color: rgb(254, 104, 189);
}

.projects h2 {
	color: white;
	font-size: clamp(1.75rem, 5vw, 2.5rem);
	padding: 3rem 0 10rem 0;
}

.projects__wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
}

.project {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-inline: auto;

	width: 70%;
	height: 100%;
	outline: 2px solid hotpink;

	transition-duration: 0.25s;
	transition-delay: 0ms;
}

.project__content {
	height: 100%;
}

.project__github {
	width: 100%;
	padding: 6rem;
	font-size: 1.15rem;
	color: white;
	text-align: center;
}

.project__github > a {
	color: hotpink;
}

.project__github > a:visited {
	color: hotpink;
}

.projects > .project.hidden-up {
	margin-top: 2em;
	outline: none;
}

.project__image {
	width: auto;
	height: 100%;
	object-fit: cover;
	overflow-x: hidden;
}

.project:hover {
	cursor: pointer;
}

.project:focus-within {
	outline: 4px solid hotpink;
}

.image__title {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
	color: white;
	padding: 15px;
	text-shadow: 0 0 1.5rem hotpink;
	z-index: 10;
	text-align: center;
}

.project .darken {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
}

.project:hover .image__title,
.project:focus .image__title {
	opacity: 1;
	filter: brightness(200%);
}

.project:hover .darken,
.project:focus .darken {
	opacity: 1;
}
