@media (width < 1000px) {
	.skills__list {
		grid-template-columns: 1fr 1fr;
	}

	.skills__list > li {
		padding: 1rem;
	}

	.skills__list > li > img {
		width: 50%;
	}
}

@media (width < 600px) {
	.skills__list {
		grid-template-columns: 1fr;
	}

	.skills__list > li > img {
		width: 40%;
	}
}
